# Core functionality - changes here should be rare!
/src/app.py                   @Wincarf
/src/backend/database.py      @Wincarf
/src/backend/routers/auth.py  @Wincarf

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Wincarf
